
{
  "all": {
    "hosts": {
      "{{ project_name}}": {
        "broker_type": "local",
        "ansible_connection": "local",
        "sempv2_host": "{{ sempv2_host }}",
        "sempv2_port": "{{ sempv2_port }}",
        "sempv2_is_secure_connection": "{{ sempv2_is_secure_connection }}",
        "sempv2_username": "{{ sempv2_username }}",
        "sempv2_password": "{{ sempv2_password }}",
        "sempv2_timeout": "60",
        "vpn": "default",
        "virtual_router": "primary"
      }
    }
  }
}
